version: "3.9"

services:
  loki:
    image: grafana/loki:2.9.8
    command: -config.file=/etc/loki/config/loki-config.yml
    ports: ["3100:3100"]
    volumes:
      - ./loki-config.yml:/etc/loki/config/loki-config.yml:ro
      - loki-data:/loki

  grafana:
    image: grafana/grafana:11.2.2
    ports: ["3000:3000"]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on: [loki]

  promtail:
    image: grafana/promtail:2.9.8
    command: -config.file=/etc/promtail/config/promtail-config.yml
    volumes:
      - ./promtail-config.yml:/etc/promtail/config/promtail-config.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on: [loki]

  monitoring-service:
    build:
      context: ./monitoring-service
    env_file:
      - ./monitoring-service/.env.example
    environment:
      - PORT=8088
      - SERVICE_NAME=monitoring-service
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_SECURE=false
      - SMTP_USER=david.santiago.velasco.12@gmail.com
      - SMTP_PASS=ljzd ttcx jsnm oyja
      - SMTP_FROM=david.santiago.velasco.12@gmail.com
      - DEFAULT_FREQ_MS=30000
      - REQUEST_TIMEOUT_MS=5000

    ports: ["8088:8088"]
    depends_on: [loki, promtail]
    labels:
      - "logging=enabled"
      - "service=monitoring-service"

networks:
  obs:
    external: true
    name: obs-net

volumes:
  loki-data:
