services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports: ["5672:5672", "15672:15672"]
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  postgres-auth:
    image: postgres:16
    container_name: postgres-auth
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=authdb
    ports: ["5433:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  postgres-notification:
    image: postgres:16
    container_name: postgres-notification
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=notificationdb
    ports: ["5434:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    depends_on:
      postgres-auth:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-auth:5432/authdb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - APP_JWT_SECRET=ThisIsASecretKeyForJwtDemoThisIsASecretKeyForJwtDemo
      - APP_RABBIT_EXCHANGE=events.exchange
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
    ports: [ "8081:8081" ]

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_started
      postgres-notification:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-notification:5432/notificationdb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - APP_JWT_SECRET=ThisIsASecretKeyForJwtDemoThisIsASecretKeyForJwtDemo
      - APP_RABBIT_EXCHANGE=events.exchange
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_MAIL_HOST=smtp.gmail.com
      - SPRING_MAIL_PORT=587
      - SPRING_MAIL_USERNAME=david.santiago.velasco.12@gmail.com
      - SPRING_MAIL_PASSWORD=ljzd ttcx jsnm oyja
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      - SPRING_MAIL_FROM=david.santiago.velasco.12@gmail.com
    ports: [ "8082:8082" ]

  orchestrator-service:
    build:
      context: .
      dockerfile: orchestrator-service/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_started
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - APP_RABBIT_EXCHANGE=events.exchange
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
    ports: [ "8083:8083" ]
